<section class="container">
  <div class="apoios-A">
    <div class="titulo">
      <h1 id="skills">SKILLS</h1>
    </div>
    <div class="apoios-B">
      <div class="itens">
        <div class="image-container">
          <div class="border_skills">
          <div class="hover_html" data-text="HTML" id="html_color">
          <img src="https://www.svgrepo.com/show/349402/html5.svg" alt="">
          </div>
          </div>
          <div class="border_skills">
            <div class="hover_html" data-text="CSS" id="css_color">
          <img src="https://www.svgrepo.com/show/349330/css3.svg" alt="">
        </div>
          </div>
          <div class="border_skills">
            <div class="hover_html" data-text="JavaScript" id="javascript_color">
          <img src="https://www.svgrepo.com/show/349419/javascript.svg" alt="">
        </div>
          </div>
          <div class="border_skills">
            <div class="hover_html" data-text="ReactJS" id="reactjs_color">
          <img src="https://www.svgrepo.com/show/354259/react.svg" alt="">
        </div>
          </div>
        </div>
        <div class="image-container">
          <div class="border_skills">
          <div class="hover_html" data-text="VueJS" id="vuejs_color">
            <img src="https://www.svgrepo.com/show/303494/vue-9-logo.svg" alt="">
            </div>
          </div>
          <div class="border_skills">
          <div class="hover_html" data-text="TypeScript" id="typescript_color">
            <img src="https://www.svgrepo.com/show/349540/typescript.svg" alt="">
          </div>
          </div>
          <div class="border_skills">
          <div class="hover_html" data-text="NextJS" id="nextjs_color">
            <img src="https://www.datocms-assets.com/98835/1684410508-image-7.png" alt="">
          </div>
          </div>
          <div class="border_skills">
          <div class="hover_html" data-text="AngularJS" id="angularjs_color">
            <img src="https://www.svgrepo.com/show/353396/angular-icon.svg" alt="">
          </div>
          </div>
        </div>
        <div class="image-container">
          <div class="border_skills">
            <div class="hover_html" data-text="Tailwind CSS" id="tailwind_color">
          <img src="https://www.svgrepo.com/show/374118/tailwind.svg" alt="">
        </div>
          </div>
          <div class="border_skills">
          <div class="hover_html" data-text="Redux" id="redux_color">
            <img src="https://www.svgrepo.com/show/354274/redux.svg" alt="">
          </div>
          </div>
          <div class="border_skills">
          <div class="hover_html" data-text="Bootstrap" id="bootstrap_color">
            <img src="https://www.svgrepo.com/show/303293/bootstrap-4-logo.svg" alt="">
          </div>
          </div>
          <div class="border_skills">
          <div class="hover_html" data-text="Figma" id="figma_color">
            <img src="https://www.svgrepo.com/show/354987/figma.svg" alt="">
          </div>
          </div>
        </div>
        <div class="image-container">
          <div class="border_skills">
            <div class="hover_html" data-text="Photoshop" id="photoshop_color">
          <img src="https://www.svgrepo.com/show/452149/adobe-photoshop.svg" alt="">
        </div>
          </div>
          <div class="border_skills">
            <div class="hover_html" data-text="Java" id="java_color">
          <img src="https://www.svgrepo.com/show/353924/java.svg" alt="">
        </div>
          </div>
          <div class="border_skills">
            <div class="hover_html" data-text="C# - CSharp" id="csharp_color">
          <img src="https://www.svgrepo.com/show/452184/csharp.svg" alt="">
        </div>
          </div>
          <div class="border_skills">
            <div class="hover_html" data-text="NodeJS" id="nodejs_color">
          <img src="https://www.svgrepo.com/show/303658/nodejs-1-logo.svg" alt="">
        </div>
          </div>
        </div>
        <div class="image-container">
          <div class="border_skills">
            <div class="hover_html" data-text="SQL Server" id="sqlserver_color">
          <img src="https://www.freeiconspng.com/thumbs/sql-server-icon-png/sql-server-icon-png-1.png" alt="">
        </div>
        </div>
          <div class="border_skills">
            <div class="hover_html" data-text="MySQL" id="mysql_color">
          <img src="https://pngimg.com/d/mysql_PNG11.png" alt="">
        </div>
        </div>
          <div class="border_skills">
            <div class="hover_html" data-text="MongoDB" id="mongodb_color">
          <img src="https://www.svgrepo.com/show/373845/mongo.svg" alt="">
        </div>
        </div>
          <div class="border_skills">
            <div class="hover_html" data-text="Firebase" id="firebase_color">
          <img src="https://www.svgrepo.com/show/303670/firebase-1-logo.svg" alt="">
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
