<header class="container">
  <div class="header">
    <a href="/">
      <img style="width: 80px; height: 80px;" src="assets/images/logos/logo_ai.png" alt="">
      <h2><span class="logo">TIẾN</span> AI</h2>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="/">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="https://github.com/hvtienprotv84" class="register">on Github</a></li>
      </ul>
    </nav>
  </div>
</header>
