<div class="banner" id="home">
  <ul class="banner-list" [ngStyle]="style">
    <li><img src="assets/images/icons/logo_banner.png" alt=""></li>
    <li>
      <h2>HUỲNH VĨNH TIẾN - AI - LANDINGPAGE - <span id="banner_text_angular">ANGULAR</span></h2>
    </li>
    <li><img src="assets/images/icons/logo_banner.png" alt=""></li>
    <li>
      <h2>HUỲNH VĨNH TIẾN - AI - LANDINGPAGE - <span id="banner_text_angular">ANGULAR</span></h2>
    </li>
    <li><img src="assets/images/icons/logo_banner.png" alt=""></li>
    <li>
      <h2>HUỲNH VĨNH TIẾN - AI - LANDINGPAGE - <span id="banner_text_angular">ANGULAR</span></h2>
    </li>
    <li><img src="assets/images/icons/logo_banner.png" alt=""></li>
    <li>
      <h2>HUỲNH VĨNH TIẾN - AI - LANDINGPAGE - <span id="banner_text_angular">ANGULAR</span></h2>
    </li>
  </ul>
</div>
