.apoios-A {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.apoios-B {
  overflow-x: hidden;
}

.itens {
  margin: 0 auto;
}

.titulo::after {
  content: "";
  height: 2px;
  min-width: 100%;
  border-radius: 2px;
  display: block;
  background-color: #80808033;
  position: absolute;
  bottom: -20px;
}

.itens-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: var(--font-A);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  text-align: center;
}

.title_projects{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #00ffe7;
  font-weight: bold;
}

img {
  width: 360px;
  height: 450px;
  opacity: 0.7;
  object-fit: contain;

}

img:hover {
  opacity: 1;
}

.see_more_projects{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 5px;
}

.container_see_more_projects{
  border: 2px red dashed;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  margin-bottom: -250px;
  animation: colorChange 1s infinite;
}

@keyframes colorChange {
  0% { border-color: #ffffff; }
  10% { border-color: #fabaaa; }
  20% { border-color: #f4914f; }
  30% { border-color: #eaed46; }
  40% { border-color: #ffff00; }
  50% { border-color: #401be8; }
  60% { border-color: #8000ff; }
  70% { border-color: #00fc97; }
  80% { border-color: #44e9e3; }
  90% { border-color: #00fff2; }
  100% { border-color: #005eff; }
}

#img_project_see_more{
  opacity: 1;
  width: 30px;
  height: 30px;
}

#see_more_1{
  display: inline;
  margin-left: 5px;
}

@media screen and (max-width: 1100px) {
  .itens-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.35rem;
    gap: 30px;
  }
}

@media screen and (max-width: 560px) {
  .apoios-A {
    margin: 100px 0px;
  }

  .itens-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
    gap: 30px;
  }

  img {
    width: 100%;
  }
}
