<footer class="container">
  <div class="footer">
    <div class="logo">
      <a href="/">
        <img style="width: 80px; height: 80px;" src="assets/images/logos/logo_ai.png" alt="">
        <h2 id="logo2_2"><span class="logo2">TIẾN</span> AI</h2>
      </a>
      <p>Xin Chào Mọi Người! <br/>Tôi là <span id="footer_myname">Huỳnh Vĩnh Tiến</span>.<br/> Tôi là <span id="footer_frontend">Front-End Developer</span>.</p>
    </div>
    <div class="footer-type">
      <div class="links">
        <ul>
          <li><a href="/">PRODUCTS</a></li>
          <li><a href="/">SOLUTIONS</a></li>
          <li><a href="/">CUSTOMER</a></li>
          <li><a href="/">PRICING</a></li>
          <li><a href="/">RESOURCES</a></li>
        </ul>
      </div>
      <div class="copy">
        <ul>
          <li>©2024 MỌI BẢN QUYỀN THUỘC VỀ <a href="https://www.facebook.com/vinhtien.huynh.77/"><span id="footer_myname">HUỲNH VĨNH TIẾN</span></a></li>
          <li>ĐƯỢC TẠO BỞI:<span class="text-green"> HUỲNH VĨNH TIẾN</span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
