<main class="container">
  <div class="main-name">
    <h1 class="name_banner">HUỲNH VĨNH <span class="text-green">TIẾN AI.</span></h1>
    <picture>
      <img src="assets/images/main/robot-hand.png" alt="" class="img-A">
      <img src="assets/images/main/plasm.png" alt="" class="img-C">
    </picture>
  </div>
  <div class="main-section">
    <div class="section-A">
      <div class="left">
        <h2>~20</h2>
        <span>SKILLS</span>
      </div>

      <div class="right">
        <h2>~40</h2>
        <span>PROJECTS</span>
      </div>
    </div>

    <div class="section-B">
      <h3>Trí tuệ nhân tạo đang tiếp tục phát triển và có tiềm năng thay đổi cách chúng ta sống và làm việc. Với sự phát triển không ngừng, AI có thể đóng vai trò quan trọng trong việc giải quyết các thách thức toàn cầu và mang lại những đóng góp lớn cho sự phát triển của con người và xã hội.</h3>
      <div class="btn-group">
        <button class="btn-A">BẮT ĐẦU</button>
        <button class="btn-B">ĐÁNH GIÁ</button>
      </div>
    </div>
  </div>
</main>
