<section class="container">
  <div class="tecnologias">
    <div class="titulo">
      <h1 id="about">ABOUT</h1>
      <img src="assets/images/icons/arrow-down.svg" alt="">
    </div>
    <div class="product">
      <div>
        <div class="text">
          <h1 style="width: 800px;">Tôi là Huỳnh Vĩnh <span class="text-green">Tiến.</span></h1>
          <h1 class="text-green2">Front-End <span id="developer">Developer.</span></h1>
          <p><span id="about_title">Front-End Developer</span> là những người chuyên tạo ra giao diện người dùng tương tác trực tiếp trên trình duyệt web. Họ là những người xây dựng và triển khai các thành phần trực quan như trang web, ứng dụng di động và các ứng dụng web khác.v.v...</p>
          <ul class="product-itens">
            <li>Front-End Developer</li>
            <li>Mobile Developer</li>
            <li>UI/UX Designer</li>
          </ul>
          <a href="https://www.facebook.com/vinhtien.huynh.77/"><button>TÌM HIỂU THÊM</button></a>
        </div>
      </div>
      <div class="image">
        <img src="assets/images/tecnologias/rillcuy.png" alt="">
      </div>
    </div>
  </div>
</section>
